h1 {
  color: hotpink;
  text-decoration: hotpink line-through 4px
}

body {
  background-color: black;
}
nav{
  list-style-type: none;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
}

li a {
  color: hotpink;
  text-decoration: hotpink underline overline 1.5px;
  display: block;
  float: left;
  padding: 20px 40px;  
}
